$primary: #f9f4f5;
$primary-light: #faf5f6;
$primary-dark: #e8e3e4;
$secondary: #2d2a32;
$secondary-light: #3e3b43;
$secondary-dark: #1c1921;
$positive: #95c623;
$positive-light: #96d734;
$positive-dark: #84b512;
$destructive: #c94277;
$destructive-light: #d95388;
$destructive-dark: #b83166;
$neutral: #58fcec;
$neutral-light: #69fdfd;
$neutral-dark: #47ebdb;
