@import "./consts";
@import "./fonts";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $secondary;
  color: $primary;
  font-family: "Nunito Extra Light";
}

main {
  font-size: 0.85rem;
}

hr {
  color: $secondary-light;
}

.opa-75 {
  opacity: 0.75;
}

.opa-50 {
  opacity: 0.5;
}
