<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Piotr Stasiak - Portfolio</title>
  </head>

  <body>
    <div class="container-sm">
      <div class="row">
        <header class="text-center">
          <h1>Piotr Stasiak</h1>
          <h2>Front End Developer</h2>
        </header>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-3">
          <div class="nav-container">
            <nav class="nav">
              <ul>
                <li *ngFor="let navItem of navItems">
                  <a
                    href="{{ navItem.sectionId }}"
                    (click)="toggleClass(navItem)"
                    [ngClass]="{ active: navItem.active }"
                    >{{ navItem.label }}</a
                  >
                </li>
              </ul>
            </nav>
            <div class="icons-container">
              <a
                href="https://www.linkedin.com/in/piotr-stasiak-8674b1113/"
                target="_blank"
                ><i class="fa fa-brands fa-linkedin"></i
              ></a>
              <a href="https://github.com/StasiakP" target="_blank"
                ><i class="fa fa-brands fa-github"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <main>
            <div class="sections">
              <section id="{{ sectionAboutMe.id }}">
                <ng-container
                  [ngTemplateOutlet]="sectionHeader"
                  [ngTemplateOutletContext]="{ header: 'O MNIE' }"
                >
                </ng-container>
                <div
                  *ngFor="let sectionAboutMeItem of sectionAboutMe.items"
                  class="row about-me"
                >
                  <div class="col-12 col-md-3"></div>
                  <div class="col-12 col-md-9">
                    <div class="opa-75">
                      <p style="white-space: pre-line">
                        {{ sectionAboutMeItem.content }}
                      </p>
                    </div>
                  </div>
                </div>
                <hr />
              </section>
              <section id="{{ sectionExperience.id }}">
                <ng-container
                  [ngTemplateOutlet]="sectionHeader"
                  [ngTemplateOutletContext]="{ header: 'DOŚWIADCZENIE' }"
                >
                </ng-container>
                <div
                  *ngFor="let sectionExperienceItem of sectionExperience.items"
                  class="row tile"
                >
                  <ng-container
                    [ngTemplateOutlet]="tile"
                    [ngTemplateOutletContext]="{
                      type: tileType.Experience,
                      sectionItem: sectionExperienceItem
                    }"
                  >
                  </ng-container>
                </div>
                <hr />
              </section>
              <section id="{{ sectionProjects.id }}">
                <ng-container
                  [ngTemplateOutlet]="sectionHeader"
                  [ngTemplateOutletContext]="{ header: 'PROJEKTY' }"
                >
                </ng-container>
                <div
                  *ngFor="let sectionProjectsItem of sectionProjects.items"
                  class="row tile project"
                >
                  <ng-container
                    [ngTemplateOutlet]="tile"
                    [ngTemplateOutletContext]="{
                      type: tileType.Projects,
                      sectionItem: sectionProjectsItem
                    }"
                  >
                  </ng-container>
                </div>
                <hr />
              </section>
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>

<ng-template #sectionHeader let-header="header">
  <div class="row section-container">
    <h3 class="section-header">{{ header }}</h3>
  </div>
</ng-template>

<ng-template #tile let-type="type" let-sectionItem="sectionItem">
  <div class="{{ type === tileType.Projects ? 'col-6' : 'col-12' }} col-md-3">
    <span *ngIf="type === tileType.Experience" class="opa-50">
      {{ sectionItem.additionalInfo }}
    </span>
    <a
      *ngIf="type === tileType.Projects"
      routerLink="{{ sectionItem.routerUrl }}"
      ><img src="{{ sectionItem.image }}"
    /></a>
  </div>
  <div class="{{ type === tileType.Projects ? 'col-6' : 'col-12' }} col-md-9">
    <h4>{{ sectionItem.title }}</h4>
    <h5 class="opa-50" *ngIf="type === tileType.Experience">
      {{ sectionItem.subtitle }}
    </h5>

    <div class="opa-75">
      {{ sectionItem.content }}
    </div>
    <div class="chips-container">
      <div *ngFor="let chip of sectionItem.chips" class="chips-container__item">
        <span>{{ chip }}</span>
      </div>
    </div>
  </div>
</ng-template>
