<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Piotr Stasiak - Portfolio</title>
  </head>

  <body>
    <div class="container-lg">
      <header class="text-center">
        <h1>Header</h1>
      </header>
      <div class="row">
        <div class="col-3">
          <nav>
            <ul>
              <li><a href="#">O mnie</a></li>
              <li><a href="#">Doświadczenie</a></li>
              <li><a href="#">Projekty</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-9">
          <main><p>main</p></main>
        </div>
      </div>
      <footer class="text-center">
        <p>Footer</p>
      </footer>
    </div>
  </body>
</html>
